body
{
    width: 100%;
    height: 392%;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.part1
{
    width: 100%;
    height: 62rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("background1.png");
    background-size: cover;

}

.text1
{
    width: 48%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.t1_1
{
	font-size: 3em;
    line-height: 3;
    color: #ffffff;
    margin:1em 0;
}

.t1_2
{
    width: 100%;
	font-size: 1em;
	line-height: 2;
	color: #ffffff;
    opacity: 0.7;
    margin: 1em 0;
}

.placeholder {
    margin: 5em 0;
	width: 61%;
	height: 10em;
	border: 1px solid  #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 2;
}

.t1_3
{
    font-size: 1em;
}

.t1_4
{
    font-size: 0.8em;
    opacity: 0.2;
}

.part2
{
    width: 100%;
    height: 44rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text2
{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3em 0;
}

.t2_1
{
    font-size: 1em;
    line-height: 5;
}

.t2_2
{
    font-size: 2em;

}

.t2_3
{
    height: 45%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.feature
{
    width: 44%;
    display: flex;
    flex-direction: row;
}

.fp
{
    height: 45%;
    width: auto;
    margin: 0 1.3em 0 0;
}

.ft1
{
    font-size: 1.2em;
}

.ft2
{
    font-size: 0.9em;
    opacity: 0.7;
    margin: 1em 0;
    line-height: 1.5;
}
.part3
{
    width: 100%;
	height: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-image: url("background2.png");
    background-size: cover;
}

.screen
{
    width:40%;
    height: 60%;
}

.t3
{
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 40%;
    margin: 0 5em 0 0;
    justify-content: space-between;
}

.t3_1
{
    color: white;
    font-size: 2.4em;
    width: 70%;
}

.t3_2
{
    color: white;
    opacity: 0.7;
    font-size: 0.9em;
    width: 70%;
    line-height: 1.5;
}


.part4
{
    width: 100%;
	height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.t4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 65%;
}

.t4_1
{
    font-size: 2.5em;
}

.t4_2
{
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.t4_2_
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    font-size: 0.9em;
}

.t4_2_1
{
    opacity: 0.7;
}

.part5
{
    width: 100%;
	height: 63rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.t5
{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40%;
    justify-content: space-between;
    align-items: center;

}

.t5_1
{
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 1.5;
}

.t5_2
{
    width: 57%;
    height: 73%;
}

.t5_1_1
{
    font-size: 1em;
    margin: 2em 0;
}

.t5_1_2
{
    font-size: 0.9em;
    opacity: 0.7;
}
.part6
{
    width: 100%;
	height: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid lightgray;
}

.part7
{
    width: 100%;
	height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t7
{
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.t7_1
{
    width: 45%;
    height: 100%;
    border: 1px solid lightgray;
}

.t7_2
{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.t7_2_1
{
    font-size: 2em;
}

.t7_2_2
{
    opacity: 0.7;
    font-size: 0.9em;
    margin: 0 0 1.5em 0;
}

.t7_2_3
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
}

.t7_2_3_1
{
    height: 70%;
    margin: 0 1em 0 0;
}
.part8
{
    width: 100%;
	height: 26rem;
	background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.t8
{
    height: 55%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.t8_1
{
    color: white;
    font-size: 1em;
}

.t8_2
{
    color: white;
    opacity: 0.3;
    font-size: 0.9em;
}

.t8_2_1
{
    margin: 0 1em 0 0;
}